.cardsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  @include media('tablet') {
    grid-template-columns: 1fr 1fr;
  }
  @include media('mobile') {
    grid-template-columns: 1fr;
  }
}