<footer class="main-footer container" role="contentinfo">
  <div class="content content-footer">
    <p class="footer-gauche">Copyright © DailyWorkout</p><p class="footer-droite"><a href=#>CGU</a><b> | </b><a href=#>FAQ</a></p>
  </div>
</footer>
