{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<!-- MAIN CONTENT -->
  <main role="main">
    <!-- SECTION 1 -->
    <section class="container">
      <div class="content content-404">

          <h1>Votre page à mystérieusement disparu...</h1>
          <a href=# class="btn">Retour à la liste d'article</a>
      </div>
    </section>
    <div class="overlay"></div>
    
  </main>
{% endblock %}